:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --link-text-color: #2196f3;
  --bcg-color: rgba(166, 168, 184, 0.8);
  --bcg-btn-color: #2196f3;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --bcg-color-grey: rgba(47, 48, 58, 0.8);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Roboto;
  color: var(--text-white-color);
  margin: 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.disable-scroll {
  /* overflow: hidden; */
  padding-right: 17px;
}
.p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
}
.link {
  text-decoration: none;
}
/*logo  */
.header {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}

.logo {
  font: bold 26px/31px Raleway, serif;
}
.logo :hover,
.logo :focus {
  text-decoration: underline var(--link-text-color);
}
.logo-web {
  color: var(--link-text-color);
}
.logo-st {
  color: var(--text-black-color);
}

.site-nav {
  margin-left: 85px;
  margin-top: 32px;
  display: flex;
}
.site-nav .link {
  color: var(--title-text-color);
  font: 500 14px/16px Roboto, serif;
  letter-spacing: 0.02em;
  display: block;

  padding-bottom: 32px;
  position: relative;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link::after,
.site-nav .link::after {
  content: '';

  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--link-text-color);
  border-radius: 20px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .curent::after,
.site-nav .curent::after {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--link-text-color);
  border-radius: 20px;
  opacity: 1;
}
.site-nav .link:hover::after,
.site-nav .link:focus::after {
  opacity: 1;
}
/* commun-nav */
.header-contact {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  align-items: center;
  margin-left: auto;
}
.header-contact .link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact .link + .link {
  margin-left: 30px;
}

.header-contact .link:hover,
.header-contact .link:focus {
  color: var(--link-text-color);
  fill: var(--link-text-color);
}
.link:hover .icon-mail,
.link:focus .icon-mail {
  fill: var(--link-text-color);
}
.link:hover .icon-phone,
.link:focus .icon-phone {
  fill: var(--link-text-color);
}
/* svg-icon */
.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--text-color);
}

.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: var(--text-color);
}
/* site-nav */
.main-section {
  max-width: 100%;
  margin: 0 auto;
}
/* HERO */

.hero {
  position: relative;
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 94px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../image/Headerimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .title {
  color: var(--text-white-color);
  font: 900 44px/60px Roboto, serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero .link {
  color: var(--text-white-color);
  font: bold 16px/30px Roboto, serif;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  position: absolute;
  bottom: 25%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: var(--link-text-color);
}
.hero-img {
  max-width: 100%;
}
/* description of solutions */
.features {
  margin-bottom: 94px;
  /* height: 251px; */
}
.features-item,
.feature-doing-item,
.features-team-item,
.customers-item,
.footer-address-item,
.hero-site-item {
  display: flex;
}
.features-item .item + .item,
.feature-doing-item .item + .item,
.features-team-item .item + .item,
.customers-item .item + .item {
  margin-left: 30px;
}
.features-icon {
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 102px;
}
.features-doing .title,
.features-team .title,
.customers .title {
  font: bold 36px/42px Roboto, serif;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.features .title {
  font: bold 14px/16px Roboto, serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  width: 270px;
  margin-bottom: 10px;
}
.features .text {
  color: var(--text-color);
  line-height: 24px;
  font-size: 14px;
  width: 270px;
  letter-spacing: 0.03em;
}

/* our doin */

/* .hero, */
.features,
.features-doing,
.features-team,
.customers {
  margin: 0px;
  margin-bottom: 94px;
  padding: 0;
  position: relative;
}
.images {
  display: block;
}
.feature-doing-item .item {
  position: relative;
  height: 100%;
}
.features-doing .link {
  font: bold 14px/16px Roboto, serif;
  font-family: Roboto;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
  background-color: var(--bcg-color-grey);

  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.link-item {
  text-decoration: none;
  width: 370px;
  height: 294px;
}

/* our team */
.section-team {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 702px;
  margin: 0 auto;
  background: #f5f4fa;
}
.section-team-work {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.section-team-work + .section-team-work {
  margin-left: 30px;
}
.features-team {
  font: normal 16px/19px Roboto, serif;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.features-team .name {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
}
.features-team .profession {
  margin-top: 10px;
  color: var(--text-color);
}
.features-team .link {
  color: #afb1b8;
}
.features-team .link:hover {
  color: var(--link-text-color);
}
.list-icon {
  display: flex;
  margin-top: 16px;
  padding-bottom: 24px;
  justify-content: center;
}
.list-icon-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-icon-item:hover,
.list-icon-item:focus {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bcg-btn-color);
  fill: var(--text-white-color);
}
.icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-icon-item:hover .icon,
.list-icon-item:focus .icon {
  fill: var(--text-white-color);
}
.list-icon-item + .list-icon-item {
  margin-left: 10px;
}
/* customers */
.customers-item .link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .customers-item .link {
  color: var(--link-text-color);
  width: 170px;
  height: 90px;
} */
.customers-item .link:hover,
.customers-item .link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: var(--link-text-color);
  fill: var(--link-text-color);
}
.link:hover .icon-customer,
.link:focus .icon-customer {
  fill: var(--link-text-color);
}
.icon-customer {
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customer.one {
  width: 44px;
  height: 49px;
}
.icon-customer.two {
  width: 40px;
  height: 52px;
}
.icon-customer.three {
  width: 41px;
  height: 43px;
}
.icon-customer.four {
  width: 80px;
  height: 42px;
}
.icon-customer.five {
  width: 59px;
  height: 47px;
}
.icon-customer.six {
  width: 88px;
  height: 45px;
}
/* footer */
.footer {
  max-width: 100%;
  height: 253px;
  margin: 0 auto;
  background-color: #2f303a;
}
.footer-style {
  display: flex;
  align-items: center;
}

.logo-footer {
  display: block;
  margin-top: 60px;
}
.logo-bottom {
  margin-bottom: 20px;
  font: bold 26px/31px Raleway, serif;
}
.logo-bottom:hover,
.logo-bottoms:focus {
  text-decoration: underline var(--link-text-color);
}
.footer-address {
  width: 231px;
  margin-right: 69px;
}
.logo-styd,
.address {
  color: var(--text-white-color);
}

.connect,
.address {
  font: normal 14px/24px Roboto, serif;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
}

.title-connect {
  font: bold 14px/16px Roboto, serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.footer-address-item .item-footer + .item-footer {
  margin-left: 10px;
}
.subscription {
  display: block;
  align-items: center;
  margin-left: 94px;
}
.item-footer {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-footer .icon {
  fill: var(--text-white-color);
}
.item-footer:hover,
.item-footer:focus {
  border-radius: 50%;
  background-color: var(--bcg-btn-color);
  fill: var(--text-white-color);
}

/* portfolio.css */
.hero-site {
  text-align: center;
  margin-bottom: 50px;
}
.hero-site .link {
  color: var(--title-text-color);
  font: 500 16px/26px Roboto, serif;
  letter-spacing: 0.03em;
  justify-content: center;
  margin-bottom: 34px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-site .link + .link {
  margin-left: 8px;
}
.indent {
  margin-bottom: 93px;
}

.hero-site .link:hover,
.hero-site .link:focus {
  color: var(--text-white-color);
  background-color: var(--bcg-btn-color);
}
.title-depiction {
  font: bold 18px/36px Roboto, serif;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 30px;
  overflow: hidden;
  width: 370px;
  margin-right: 30px;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-visible {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.text-depiction {
  font: normal 18px/28px Roboto, serif;
  letter-spacing: 0.03em;
  width: 370px;
  height: 294px;
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  color: var(--text-white-color);
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-depiction:hover .text-depiction,
.title-depiction:focus .text-depiction {
  transform: translateY(0);
  cursor: pointer;
}

.title-depiction .text {
  font: normal 16px/30px Roboto, serif;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.title-depiction:hover,
.title-depiction:focus {
  cursor: pointer;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.title-depiction:nth-child(3n) {
  margin-right: 0px;
}
.tehno-text {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.curent {
}

/* 
FORM
*/
.form-field-footer {
  display: inline-flex;
  position: relative;
}
.form-field-footer input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
}
.form-field-button {
  color: var(--text-white-color);
  font: bold 16px/30px Roboto, serif;
  padding: 10px 62px 10px 29px;
  letter-spacing: 0.06em;
  background-color: var(--link-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.button-svg {
  position: absolute;
  fill: var(--text-white-color);
  width: 24px;
  height: 24px;
  top: 13px;
  right: 20px;
}

.form-hero-button {
  color: var(--text-white-color);
  font: bold 16px/30px Roboto, serif;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  position: absolute;
  bottom: 25%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: var(--link-text-color);
}
.form-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  color: var(--text-white-color);
  font: bold 16px/30px Roboto, serif;

  letter-spacing: 0.06em;
  background-color: var(--link-text-color);
  padding: 10px 55px;
  cursor: pointer;
}
.form-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--link-text-color);
  border-radius: 4px;
  color: var(--text-white-color);
}

.close-button:hover {
  transform: scale(1.1);
}

.form-backdrop {
  background-color: var(--text-white-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.popup {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  max-height: 581px;
  padding: 40px 40px;
  margin-top: 50px;
  background: var(--text-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
}
.form-heading {
  margin: 0;
  margin-bottom: 30px;
  font: normal bold 20px/23px Roboto, serif;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.form-field {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 28px;
  position: relative;
}
.form-field:focus-within * {
  color: var(--link-text-color);
  border-radius: 4px;
  outline: none;
  border-color: rgb(0, 152, 253);
  fill: var(--link-text-color);
}
.form-label {
  position: absolute;
  left: 42px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  left: 16px;
  top: 15%;
}
.form-field textarea {
  background-color: var(--text-white-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  height: 120px;
  cursor: pointer;
}
.form-field input {
  border-radius: 4px;
  background: #2f303a;
  height: 40px;
  padding-left: 42px;
  background-color: var(--text-white-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.form-field:focus-within .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px) translateX(-30px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--link-text-color);
}
.transform:focus-within .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--link-text-color);
}
.checkbox-field,
.checkbox-label {
  position: relative;
  font: normal 14px/24px Roboto, serif;

  letter-spacing: 0.03em;
  margin-left: 9px;
  color: var(--text-color);
  margin-bottom: 30px;
}

.checkbox-label a {
  margin-left: 3px;
  margin-right: 3px;
  color: var(--link-text-color);
  text-decoration: underline;
}
.input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.icon-check-Vector-border {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--title-text-color);
  border-radius: 3px;
  background-color: var(--text-white-color);
  flex-shrink: 0;
  opacity: 1;
  margin-right: 8px;
}
.icon-check-Vector {
  width: 16px;
  height: 16px;
  opacity: 0;
}
input:focus .icon-check-Vector {
  opacity: 1;
  background: #2196f3;
  border-radius: 3px;
  fill: var(--text-white-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-form {
  width: 18px;
  height: 18px;
  fill: var(--text-black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon-form-close {
  padding: 6px;
  fill: var(--text-black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-button:hover,
.close-button:focus {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--link-text-color);
  border-radius: 50%;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkin {
  fill: var(--text-black-color);
  position: absolute;
  top: 11px;
  left: 16px;
}
.checkin:focus-within {
  fill: var(--link-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
